Repository erxes/erxes, pull requests merged in 2020-03, with the labels that each got.

#1734 Update CentOS 8 and Debian 10 doc
  docs/docs/installation/centos8.md
  docs/docs/installation/debian10.md
  scripts/install/centos8.sh
  scripts/install/debian10.sh
Labels: area/docs, type: enhancement

#1744 Redhat doc
  docs/docs/installation/redhat8.md
  docs/docs/overview/deployment-overview.md
  docs/docs/overview/getting-started.md
  docs/website/sidebars.json
Labels: area/docs, type: enhancement

#1771 fix portable board item not found error
  ui/src/modules/boards/containers/editForm/EditForm.tsx
Labels: type: bug

#1803 Update Debian 10 installation doc and script
  docs/docs/installation/aws.md
  docs/docs/installation/centos8.md
  docs/docs/installation/debian10.md
  docs/docs/overview/deployment-overview.md
  docs/docs/overview/getting-started.md
  docs/website/sidebars.json
  scripts/install/debian10.sh
Labels: area/docs
