Repository erxes/erxes, pull requests merged in 2020-01, with the labels that each got.

#1606 brands not found
  ui/src/modules/settings/brands/components/Brands.tsx
Labels: area/ui, feat: Settings

#1605 msg undefined to no channels
  ui/src/modules/settings/channels/components/Channels.tsx
  ui/src/modules/settings/team/components/detail/UserDetailForm.tsx
Labels: area/ui, feat: Settings

#1519 added birthdate & gender
  ui/src/modules/common/styles/main.ts
  ui/src/modules/customers/components/list/CustomerForm.tsx
  ui/src/modules/customers/constants.ts
  ui/src/modules/customers/graphql/mutations.ts
  ui/src/modules/customers/graphql/queries.ts
  ui/src/modules/customers/types.ts
  ui/src/modules/customers/utils.ts
  ui/src/modules/inbox/components/conversationDetail/sidebar/styles.ts
  ui/src/modules/insights/styles.ts
  ui/src/modules/settings/growthHacks/styles.ts
  ui/src/modules/settings/logs/styles.ts
Labels: client

#1644 Origin/birth date fix
  ui/src/modules/customers/components/list/CustomerForm.tsx
Labels: priority: Medium, type: bug
